<h2>Отправка сообщения в гостевую книгу</h2>
<p>
  <form action="/send" method="post" role="form">
    <textarea class="form-control" rows="5" name="<%= :message %>" placeholder="Введите ваше сообщение"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Отправить</button>
  </form>
</p>
